<table border="1" bgcolor=#daa520 align="center">
  <tr>
    <td>
      <table border="2" align="center" bgcolor=#5f9ea0>
        <tr>
          <td colspan="2">
            <div align="center">
              Dados do Medico
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Nome:
          </td>
          <td>
            <%= @medic.name %>
          </td>
        </tr>
        <tr>
          <td>
            CPF:
          </td>
          <td>
            <%= @medic.cpf %>
          </td>
        </tr>
        <tr>
          <td>
            E-mail:
          </td>
          <td>
            <%= @medic.email %>
          </td>
        </tr>
        <tr>
          <td>
            Especialidade:
          </td>
          <td>
            <%= @medic.speciality %>
          </td>
        </tr>
        <tr>
          <td>
            CRM:
          </td>
          <td>
            <%= @medic.crm %>
          </td>
        </tr>
      </table>

      <br>

      <table border="2" align="center" bgcolor=#5f9ea0>
        <tr>
          <td colspan="2">
            <div align="center">
              Consultas
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <%= render @medic.appointments %>
          </td>
        </tr>
        <tr>
      </table>
    </td>
  </tr>
</table>
<br>

<table border="2" align="center" bgcolor="#228b22">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <%= link_to "Editar", edit_medic_path(@medic) %>
          </td>
          <td>
            <%= image_tag 'notebook.gif' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <%= link_to "Deletar", medic_path(@medic), data: {
              turbo_method: :delete,
              turbo_confirm: "Tem certeza?"
            } %>
          </td>
          <td>
            <%= image_tag 'RedX.gif' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>