<table border="1" bgcolor=#daa520 align="center">
  <tr>
    <td>
      <table border="2" align="center" bgcolor=#5f9ea0>
        <tr>
          <td colspan="2">
            <div align="center">
              Dados do Paciente
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Nome:
          </td>
          <td>
            <%= @patient.name %>
          </td>
        </tr>
        <tr>
          <td>
            CPF:
          </td>
          <td>
            <%= @patient.cpf %>
          </td>
        </tr>
        <tr>
          <td>
            E-mail:
          </td>
          <td>
            <%= @patient.email %>
          </td>
        </tr>
        <tr>
          <td>
            Data de Nascimento:
          </td>
          <td>
            <%= @patient.birth %>
          </td>
        </tr>
      </table>

      <br>

      <table border="2" align="center" bgcolor=#5f9ea0>
        <tr>
          <td colspan="2">
            <div align="center">
              Endereço do Paciente
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Cidade:
          </td>
          <td>
            <%= @patient.address.city %>
          </td>
        </tr>
        <tr>
          <td>
            Logradouro:
          </td>
          <td>
            <%= @patient.address.street %>
          </td>
        </tr>
        <tr>
          <td>
            Bairro:
          </td>
          <td>
            <%= @patient.address.zone %>
          </td>
        </tr>
        <tr>
          <td>
            CEP:
          </td>
          <td>
            <%= @patient.address.cep %>
          </td>
        </tr>
        <tr>
          <td>
            Complemento:
          </td>
          <td>
            <%= @patient.address.complement %>
          </td>
        </tr>
      </table>
    </td>

    <br>

    <td>
      <table border="2" align="center" bgcolor=#5f9ea0>
        <tr>
          <td colspan="2">
            <div align="center">
              Consultas
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <%= render @patient.appointments %>
          </td>
        </tr>
        <tr>
      </table>

      <br>

      <table border="2" align="center" bgcolor="#6495ed">
        <tr>
          <td colspan="2">
            <div align="center">
              Nova Consulta:
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <%= render 'appointments/form'%>
          </td>
        </tr>
        <tr>
      </table>
    </td>
  </tr>
</table>

<ul>
  <li><%= link_to "Editar", edit_patient_path(@patient) %></li>
  <li><%= link_to "Deletar", patient_path(@patient), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>
